{{define "title"}}
	{{.Election.Name}} {{.Election.Date.Format "2006"}}
{{end}}

{{define "main"}}
	<div class="jumbotron bg-light">
			<h1 class="display-4">{{.Election.Name}} {{.Election.Date.Format "2006"}}</h1>
			<p class="lead">
				<a href="{{.Overview.Info}}">Mehr Informationen</a>,
				<a href="{{.Overview.DataSource}}">Datenquelle</a>.
			</p>
		</div>
	
	{{range .Parties}}
		<div>
			{{.Name}}
			<div class="progress">
				<div class="progress-bar" role="progressbar" style="width: calc(100% / (2 * {{len $.Statements}}) * {{.Overlap}});">{{.Overlap}}</div>
			</div>
		</div>
	{{end}}
{{end}}
