{{define "title"}}
	{{.Election.Name}} {{.Election.Date.Format "2006"}}
{{end}}

{{define "main"}}
	<div class="jumbotron bg-light">
		<h1 class="display-4">{{.Election.Name}} {{.Election.Date.Format "2006"}}</h1>
		<p class="lead">
			<a href="{{.Overview.Info}}">Mehr Informationen</a>,
			<a href="{{.Overview.DataSource}}">Datenquelle</a>.
		</p>
	</div>

	<form method="post">
		{{range $stmt := .Statements}}
			<div class="card mt-4">
				<div class="card-body">
					<h5 class="card-title">{{.Label}}</h5>
					<p class="card-text">{{.Text}}</p>

					<div class="btn-group btn-group-toggle" data-toggle="buttons">
						{{range $.Answers}}
							<label class="btn btn-sm btn-outline-primary">
								<input type="radio" name="{{$stmt.ID}}" id="stmt-{{$stmt.ID}}-answer-{{.ID}}" value="{{.ID}}" autocomplete="off"> {{.Message}}
							</label>
						{{end}}
						<label class="btn btn-sm btn-outline-primary active">
							<input type="radio" name="{{$stmt.ID}}" id="stmt-{{$stmt.ID}}-answer-{{len $.Answers}}" value="{{len $.Answers}}" autocomplete="off" checked> Überspringen
						</label>
					</div>
				</div>
			</div>
		{{end}}

		<hr>

		<button type="submit" class="btn btn-primary">Berechnen</button>
	</form>
{{end}}
